.container{
    width: 400px;
    height: 530px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    box-shadow: 0px 8px 24px 0px #0000000D;
    cursor: pointer;

    .image{
        overflow: hidden;
        height: 217px;
    

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content{
        padding: 25px;
        color: #363636;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .date{
            display: flex;
            align-items: center;
            gap: 8px;
            opacity: 60%;
            line-height: 21px;
            margin-bottom: 5px;
        }

        .title{
            height: 58px;
            font-size: 24px;
            line-height: 28px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            .highlight{
                background-color: yellow;
            }
        }

        .description{
            height: 96px;
            line-height: 24px;

            .highlight{
                background-color: yellow;
            }
        }

        .more{
            font-weight: 700;
            line-height: 24px;
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }
}

::ng-deep {
    .highlight {
        background-color: yellow;
    }
}
