// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Montserrat", sans-serif; 
    font-weight: 400;
    color: #363636;
}
